.banner {
    overflow-x: hidden;

    img {
        height: 400px;
        width: 100vw;
        object-fit: cover;
    }
}

.container {
    max-width: 721px;
    margin: 0 auto;

    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin: 5rem 0 1.5rem;
    }

    .postInformation {
        display: flex;
        gap: 2rem;
        margin-bottom: 4rem;

        .publicationDate,
        .author,
        .readingTime {
            display: flex;
            align-items: center;

            span {
                font-size: 0.9rem;
                margin-left: 0.5rem;
                color: var(--gray-200);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        h2 {
            display: inline-block;
            font-size: 2.3rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        p {
            & + p {
                margin-top: 2rem;
            }
        }

        ol,
        ul {
            padding-left: 1.25rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 2rem 0;
        }

        p, ol, ul {
            font-size: 1.15rem;
            color: var(--gray-200);

            &:last-child {
                margin-bottom: 3rem;
            }

            strong {
                font-size: 1rem;
                margin: 0;
            }

            a {
                color: var(--pink-500);
                font-weight: bold;
            }
        }
    }
}
