.header {
    max-width: 700px;
    margin: 2rem auto;

    img {
        cursor: pointer;
    }
}

.headerHome {
    max-width: 700px;
    margin: 5rem auto 3.5rem;

    img {
        cursor: pointer;
    }
}